.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.form {
    width: 30%;
    min-height: 40%;
    padding: var(--spacing-md);
    border-radius: var(--border-radius-md);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    border: var(--border-color-chartreuse) solid var(--border-width-sm);
}

.header {
    font-size: 2.5rem;
    color: var(--font-color-attractive-dark-primary);
}

.error {
    font-size: 1.2rem;
    color: var(--font-color-error);
}

@media (max-width: 1024px) {
    .form {
        width: 60%;
    }
}

@media (max-width: 768px) {
    .form {
        width: 60%;
    }

    .header {
        font-size: 2.25rem;
    }
}

@media (max-width: 468px) {
    .form {
        width: 95%;
    }

    .header {
        font-size: 2rem;
    }

    .error {
        font-size: 1rem;
    }
}

@media (max-width: 376px) {
    .form {
        width: 95%;
    }

    .header {
        font-size: 1.75rem;
    }
}
