.container {
    width: 100%;
    height: 100%;
    margin-top: var(--spacing-sm);
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: var(--spacing-md);
}

.error {
    font-size: 1.3rem;
    color: var(--font-color-error);
}

.list {
    margin-top: var(--spacing-sm);
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--spacing-lg);
}

.pagination {
    margin-top: var(--spacing-md);
    justify-self: center;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: var(--spacing-md);
}

.pagination__page_number {
    font-size: 1.5rem;
}
