@import './variables.css';

* {
    box-sizing: var(--box-sizing-base);
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    text-size-adjust: none;
    color: var(--font-color-tuna);
    font-family: var(--font-family-dm-serif);
    font-weight: var(--font-weight-sm);
    font-style: normal;
}
*,
*:before,
*:after {
    box-sizing: var(--box-sizing-base);
}

a {
    cursor: pointer;
    text-decoration: none;
}

img {
    user-select: none;
}

html {
    font-size: var(--font-size-md);
    overflow-x: hidden;
}
