.container {
    z-index: 0;
    position: relative;
}

.container--medium {
    width: 35%;
    height: 60vh;
}

.container--large {
    width: 70vw;
    height: 70vh;
}

@media (max-width: 468px) {
    .container--large {
        width: 100%;
    }
}
